input {
    border: 1px solid #808080;
        border-radius: 4px;
        width: 272px;
        height: 40px;
        padding-left: 16px;
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #808080;
}
input:hover {
    border: 1px solid #0000; 
}
input:focus {
    border: 1px solid #4e75ff;
}


button {
    background: #4e75ff;
    border-radius: 8px;
        padding: 8px 16px;
        width: 91px;
        height: 40px;
        color: white;
        border: none;
}
button:hover {
    background: #6c8cff;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    } }